body {
  padding: 5px;
  background-repeat: no-repeat;
  /*border: 1px solid;*/
}

#dropdownMenu1 {
  width: 40px !important;
  height: 40px !important;
}

div.form_outer {
  padding-top: 10px;
}

div.form_inner {
    background-color: #cce6ff;
    padding: 20px;
}

button {
  width: 80px !important;
}

form {
  padding-top: 10px;
}

/*form.show_all {
  padding-top: 90px;
}*/

fieldset {
  padding: 5px;
}

span.error {
  color: red;
  padding: 5px;
}

table, td, th {
  border: 1px solid;
  border-collapse: collapse;
  width: auto;
  padding: 5px;
  height: auto;
}
/*
table {
  border: collapse;
  width: auto;
  height: auto;
}*/
